.WACHeader {
    background: #0e62fe !important;
}

.WACHeader__Buttons,
.WACHeader__RightButtons
{
   color: #fff !important;
}

.cds--slug__button
{
    color: #fff !important;
    border: 1px solid #fff !important;
}

#WACContainer.WACContainer .WACWidget.WACWidget--defaultElement
{
    width: 40em !important;
}

#WACContainer.WACContainer .HSArticles {
    margin: 12px 16px 16px 16px;
    padding: 8px 16px;
    background-color: #ffffff;
  }

  #WACContainer.WACContainer .HSTitle {
    font-weight: 600;
    padding-left: 16px;
  }

  #WACContainer.WACContainer .HSContainer__Link {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  #WACContainer.WACContainer a.HSContainer__Link,
  #WACContainer.WACContainer a.HSContainer__Link:visited {
    color: #004144;
  }

  #WACContainer.WACContainer .HSContainer__LinkIcon {
    display: inline-block;
    width: 30px;
  }

  #WACContainer.WACContainer .WACWidget .WACHomeScreenModern__inputContainer .WACInputContainer {
    box-shadow: 0 3px 5px rgba(51, 49, 49, .6);
    border-top: 0;
}

#WACContainer.WACContainer .ibm-web-chat--card-home-screen {
  margin: 0 16px 24px;
}

#WACContainer.WACContainer .WAC__sent--bubble {
  background: #0e62fe !important;
  color: #ffffff !important;
}