.WACHeader {
    background: #0e62fe !important;
}

.WACHeader__Buttons,
.WACHeader__RightButtons
{
   color: #fff !important;
}

.cds--slug__button
{
    color: #fff !important;
    border: 1px solid #fff !important;
}

#WACContainer.WACContainer .WACWidget.WACWidget--defaultElement
{
    width: 35em !important;
}